<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748203004175-7e2a51bt794k84ohjpr1ral8cggi91nc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748203004175-7e2a51bt794k84ohjpr1ral8cggi91nc</string>
	<key>API_KEY</key>
	<string>AIzaSyDhnSh9wlk5KcAq-peETgU5XOxGA8i3X8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>748203004175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbestech.chatty</string>
	<key>PROJECT_ID</key>
	<string>audio-video-flutter-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>audio-video-flutter-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748203004175:ios:0acf86943723bbe5832e7a</string>
</dict>
</plist>